if SHIELD_SCULPT_BLE

config ZMK_KEYBOARD_NAME
    default "Sculpt BLE"

config GPIO_PCF857X
    default y

config ZMK_KSCAN_MATRIX_ROWS
    default 8

config ZMK_KSCAN_MATRIX_COLS
    default 18    

config I2C
    default y

config I2C_NRFX
    default y  

config ZMK_BLE_CLEAR_BONDS_ON_START
    def_bool y  
    
endif