#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &bt 0    &bt 1
                &bt 2    &bt 3
            >;
        };
    };
};
